---
import Layout from '@/layouts/Layout.astro';
import Section from '@/components/layout/Section.astro';
import Wrapper from '@/components/layout/Wrapper.astro';
import HeroAtInner from '@/components/base/HeroAtInner.astro';
import Sentence from '@/components/ui/Sentence.astro';
import NeonText from '@/components/ui/text/NeonText.astro';
import NeonBlock from '@/components/ui/contents/NeonBlock.astro';
// UI
import FlipSlider from '@/components/ui/slider/FlipSlider.astro';

/**
 * スライド の表現
 * */
---

<Layout title="スライド表現">
  {
    /*-----------------------------
	# スライド
	-----------------------------*/
  }
  <HeroAtInner>
    <span slot="title">スライド</span>
    <span slot="desc"
      >スライドのデモ集。<br />特に表記がなければ基本的にSwiper.jsで実装しています。</span
    >
  </HeroAtInner>

  {
    /*-----------------------------
	# エフェクトオプション
	-----------------------------*/
  }
  <Section css="border-t-2 border-t-primary border-dashed">
    <Wrapper>
      <h1 class="mb-6 text-center text-2xl">
        Swiperのエフェクトオプション&nbsp;<br class="md:hidden" />いろいろ
      </h1>
      <div class="mb-8 grid w-full grid-cols-1 gap-x-[3%] gap-y-5 md:grid-cols-3">
        <div class="">
          <FlipSlider trgClass="js-flipSwiper" />
        </div>
        <div class="">
          <FlipSlider trgClass="js-cardSwiper" />
        </div>
        <div class=""></div>
      </div>
      <p class="text-center">
        <a class="text-link" href="https://swiperjs.com/demos#effect-fade" target="_blank"
          >公式のデモページ</a
        >でも紹介しています
      </p>
    </Wrapper>
  </Section>
</Layout>
