---
import Hero from '@/components/base/Hero.astro';
import Section from '@/components/layout/Section.astro';
import Wrapper from '@/components/layout/Wrapper.astro';
import PageIndex from '@/components/project/PageIndex.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="" isHome>
  <Hero />
  <main>
    <Section css="bg-(--color-primary)">
      <Wrapper>
        <h2 class="mb-5 text-4xl font-bold text-white">PAGE-INDEX</h2>
        <PageIndex />
      </Wrapper>
    </Section>

    <Section>
      <Wrapper>
        <h2 class="text-4xl font-bold text-(--color-primary)">KEYWORDS</h2>
      </Wrapper>
    </Section>
  </main>
</Layout>
