---
import Hero from '@/components/base/Hero.astro';
import Section from '@/components/layout/Section.astro';
import Wrapper from '@/components/layout/Wrapper.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="">
  <Hero />
  <main>
    <Section css="bg-(--color-primary)">
      <Wrapper>
        <h2 class="text-4xl font-bold text-white">Page</h2>
        <ul class="mt-4 grid grid-cols-1 gap-x-8 gap-y-12 md:grid-cols-4">
          {
            ['Astro', 'Tailwind CSS', 'Alpine.js', 'Prettier / ESLint'].map((label) => (
              <li>
                <div class="aspect-video rounded-3xl bg-zinc-200" />
                <p class="mt-3 text-center">{label}</p>
              </li>
            ))
          }
        </ul>
      </Wrapper>
    </Section>

    <Section>
      <Wrapper>
        <h2 class="text-4xl font-bold text-black">コンテンツ2</h2>
        <p class="mt-6">
          このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。
        </p>
        <p class="mt-6 text-base">
          このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。このテキストはtext-baseです。
        </p>
      </Wrapper>
    </Section>
  </main>
</Layout>
