---
import Wrapper from '@/components/layout/Wrapper.astro';
import { SITE_NAV } from '@/consts';
// const baseDir = import.meta.env.BASE_URL;
---

<footer class="sticky top-full mt-12 py-2">
  <Wrapper>
    <nav class="">
      <p class="flex flex-wrap justify-center gap-x-6">
        {
          SITE_NAV.map((nav) => (
            <a class="py-2 text-sm transition hover:text-zinc-100" href={nav.href}>
              {nav.name}
            </a>
          ))
        }
      </p>
    </nav>
  </Wrapper>
</footer>
