---
import Wrapper from '@/components/layout/Wrapper.astro';

const baseDir = import.meta.env.BASE_URL;
---

<footer class="sticky top-full py-2">
  <Wrapper>
    <hr class="border-(--color-secondary)" />
    <div class="py-5">
      <div class="flex items-center justify-center gap-x-2">
        <a
          href={baseDir}
          class="flex h-[3.2rem] w-[3.2rem] items-center justify-center rounded-full border-2 border-(--color-secondary) bg-white"
        >
          <i class="fa-regular fa-house text-2xl" style="color: var(--color-secondary);"></i>
        </a>
        <a
          href="https://github.com/minouras/catalog"
          target="_blank"
          class="flex h-[3.2rem] w-[3.2rem] items-center justify-center rounded-full border-2 border-(--color-secondary) bg-white"
        >
          <i class="fa-brands fa-github text-2xl" style="color: var(--color-secondary);"></i>
        </a>
      </div>
    </div>
    <div class="text-center">
      <small>&copy; minoura</small>
    </div>
  </Wrapper>
</footer>
