---

---

<div class="hamburger-nav-wrapper bg-primary pt-20" id="js-gnav">
  <slot />
</div>

<style>
  .hamburger-nav-wrapper {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(110%);
    z-index: 190;
    transition: transform 0.1s;
    width: 80%;
    max-width: 400px;
    height: 100dvh;
    overflow-y: auto;
  }

  .hamburger-nav-wrapper.is-active {
    transform: translateX(0);
    transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
  }
</style>
