---
import { SITE_NAV } from '@/consts';
import HamburgerBtn from './HamburgerBtn.astro';
import HamburgerNav from './HamburgerNav.astro';
const baseDir = import.meta.env.BASE_URL;
/*
 * ファーストビューで見せたい画像にはjs-preloadクラスを付与しておく
 */
---

<header class="header z-10" id="js-header">
  <nav class="flex items-center justify-end gap-x-2 pt-4 md:gap-x-4">
    <a
      href=""
      class="flex h-[3.2rem] w-[3.2rem] items-center justify-center rounded-full border-2 border-(--color-primary)"
    >
      <i class="fa-regular fa-house text-2xl" style="color: var(--color-primary);"></i>
    </a>
    <HamburgerBtn />
  </nav>
  <HamburgerNav>
    <ul class="divide-y divide-zinc-800">
      {
        SITE_NAV.map((nav) => (
          <li class="js-gnav__item">
            <a class="block py-3 text-sm transition hover:text-zinc-100" href={nav.href}>
              {nav.name}
            </a>
          </li>
        ))
      }
    </ul>
  </HamburgerNav>
</header>

<style>
  .header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4vw;
    width: 100%;
  }
  /* .header.is-fixed {
    position: fixed;
    transform: translate(0, -105%);
  }
  :global(html.header-is-fixed) .header.is-fixed {
    transition: all 0.8s ease;
  }
  :global(html.site-scroll-up) .header.is-fixed {
    transform: translate(0, 0);
    transition: 0.48s ease-in-out;
  }
  :global(html.gnav-is-active) .header.is-fixed {
    transform: translate(0, 0);
    transition: 0.48s ease-in-out;
  } */
</style>
