---
/*
 * ファーストビューで見せたい画像にはjs-preloadクラスを付与しておく
 * 動画を含む場合はloading.tsのカスタマイズが必要
 */
---

<div class=`relative w-full bg-(--color-background) px-[5.4vw] py-24`>
  <div class="w-full">
    <h1
      class="b-font-roboto mb-5 text-[clamp(20px,11.2vw,88px)] leading-[1.2] font-black text-(--color-primary)"
    >
      WEB UI & UX<br /><span class="tracking-wide">CATALOG</span>
    </h1>
    <div class="md:mr-auto md:ml-[45vw] md:w-fit">
      <p class="text-base leading-relaxed font-medium text-(--color-primary) md:text-lg">
        WEBサイトに使える UI / UX パーツ、デザインのカタログです。<br
        />テーマ・種類ごとにページを分けていきます。<br
        />Astroフレームワークのテンプレートを使う事を想定しています。
      </p>
    </div>
  </div>
</div>
