---
/**
 * UI：コンテンツカード
 * border-shadowを使ったネオン看板風カード
 * - color：カラーコード or CSS変数（基準色）
 * - as：htmlタグ
 * */
interface Props {
  neonColor?: string;
}

const { neonColor = '#0088ff' } = Astro.props;
---

<div class="rounded-md px-[6.5%] py-8" style=`--neon-color: ${neonColor}`>
  <slot />
</div>

<style>
  div {
    box-shadow:
      0 0 5px #fff,
      inset 0 0 5px #fff,
      0 0 18px var(--neon-color),
      inset 0 0 16px var(--neon-color),
      0 0 21px var(--neon-color),
      inset 0 0 12px var(--neon-color);
  }
</style>
